.areaScore {
  display: flex;
  flex-direction: column;
  padding: 1% 0 1% 0%;
  grid-area: 1 / 1 / 2 / 5;
  height: 40%;
  justify-content: space-around;
  gap:10%;

  .imgScore {
    display: flex;
    justify-content: space-around;
  }

  .resultScore {
    display: flex;
    justify-content: space-around;
  }
}
