.game {
  background-color: var(--secondary-color);
  width: 80vw;
  height: 80vh;
  border-radius: var(--radius);
  font-size: 1.5rem;

  .formatDice {
    width: 4vw;
  }

  .selectedDice {
    &:hover {
      cursor: pointer;
      filter: brightness(60%);
      transition: all 0.3s ease;
    }
    &[disabled] {
      filter: brightness(40%);
      cursor: initial;
    }
  }

  .endGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    color: white;
    font-size: 1.5em;
    margin: auto;
    padding: 2%;
    border-radius: 15px;
    background-color: var(--primary-color);
    font-weight: bold;

    &:hover{
      cursor: pointer;
      filter: brightness(60%);
      transition: all 0.3s ease;
    }
  }

  @media screen and (max-width: 1100px) {
    width: 95vw;
    height: 95vh;

    .formatDice {
      width: 5vw;
    }
  }
}
