.game {
  background-color: var(--secondary-color);
  width: 80vw;
  height: 80vh;
  border-radius: var(--radius);

  .formatDice {
    width: 4vw;
  }

  .selectedDice {
    &:hover {
      cursor: pointer;
      filter: brightness(60%);
      transition: all 0.3s ease;
    }
    &[disabled] {
      filter: brightness(60%);
      cursor: initial;
    }
  }

  .endGame{
    display: flex;
    margin: auto;
    padding: 2%;
    border-radius: 15px;
    background-color: var(--primary-color);
  }
}
