* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #427D9D;
  --primary-light: #427D9D;
  --primary-dark: #164863;
  --secondary-color: #DDF2FD;
  --radius: 20px;
}

body {
  background-color: var(--primary-color);
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formatMenu {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 60vw;
  height: 80vh;
  border-radius: var(--radius);
  border: solid 1px black;

  @media screen and (max-width: 1100px) {
    width: 95vw;
    height: 90vh;
  }
}

.arrow{
  width: 20vw;
}

.orientationPortrait{
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15vh;
  font-weight: bold;
  color: white;

  .logoYahtzee{
    width: 80vw;
  }
  p{
    width: 80vw;
  }
}
