* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(153, 169, 143);
  --primary-light: #c1d0b5;
  --primary-dark: rgb(15, 45, 22);
  --secondary-color: rgb(255, 248, 224);
  --radius: 20px;
}

body {
  background-color: var(--primary-color);
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formatMenu {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 60vw;
  height: 80vh;
  border-radius: var(--radius);
}
